version: '3.8'
services:
  api:
    container_name: moderncloud_api
    image: node:14.16.0-alpine3.10
    ports:
      - 8888:8888
    depends_on:
      - mysql
      - rabbitmq
    env_file:
      - backend/.env
    volumes:
      - ./backend:/data
    working_dir: /data
    command: npm run dev_api
  deployer:
    container_name: moderncloud_deployer
    build:
      context: ./
      dockerfile: Dockerfile.consumer
    depends_on:
      - mysql
      - rabbitmq
    env_file:
      - backend/.env
    volumes:
      - ./backend:/data
    working_dir: /data
    command: npm run dev_deployer
  destroyer:
    container_name: moderncloud_destroyer
    build:
      context: ./
      dockerfile: ./Dockerfile.consumer
    depends_on:
      - mysql
      - rabbitmq
    env_file:
      - backend/.env
    volumes:
      - ./backend:/data
    working_dir: /data
    command: npm run dev_destroyer
  postgres:
    container_name: moderncloud_postgres
    image: postgres:13.2
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: "project"
      POSTGRES_PASSWORD: "password"
    volumes:
      - ./backend/migration:/docker-entrypoint-initdb.d
  mysql:
    container_name: moderncloud_mysql
    image: mysql:5.7
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: "project"
      MYSQL_ROOT_PASSWORD: "password"
    volumes:
      - ./backend/migration:/docker-entrypoint-initdb.d
  rabbitmq:
    container_name: moderncloud_rabbitmq
    image: rabbitmq:3.8-alpine
    ports:
      - 5672:5672