# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "moderncloud/moderncloud"
  config.vm.box_version = "0.2.0"
	config.vm.box_check_update = false

  config.vm.network "forwarded_port", guest: 8888, host: 8888
  config.vm.network "forwarded_port", guest: 8808, host: 8808
  config.vm.network "forwarded_port", guest: 5432, host: 5432
  config.vm.network "forwarded_port", guest: 80, host: 8080
  config.vm.provision "dependencies", type: "shell", path: "./vagrantfiles/dependencies.sh", run: "always", privileged: true
  config.vm.provision "migration", after: "dependencies", type: "shell", path: "./vagrantfiles/migration.sh", run: "always", privileged: true
  config.vm.provision "pm2", after: "migration", type: "shell", inline: "pm2 start /vagrant/vagrantfiles/ecosystem_dev.json", run: "always", privileged: true
  config.vm.provision "nginx", after: "pm2", type: "shell", path: "./vagrantfiles/nginx.sh", run: "always", privileged: true
end
