PORT=8888
ENV=dev
JWT_TOKEN_SECRET=test
DB_HOST=mysql
DB_NAME=project
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
RABBITMQ_HOST=amqp://rabbitmq
STORAGE=/data/storage
FIREBASE_CONFIG=/data/firebase_service_account.json