PORT=8888
ENV=dev
JWT_TOKEN_SECRET=test
DB_HOST=mysql
DB_NAME=project
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
RABBITMQ_HOST=amqp://rabbitmq
STORAGE=/data/storage
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=
STRIPE_PACKAGE_PERSONAL_PRICE_ID=
STRIPE_PACKAGE_TEAM_PRICE_ID=