PORT=8888
ENV=dev
JWT_TOKEN_SECRET=test
DB_HOST=127.0.0.1
DB_NAME=moderncloud
DB_PORT=3306
DB_USERNAME=moderncloud
DB_PASSWORD=password
RABBITMQ_HOST=amqp://127.0.0.1
STORAGE=/vagrant/storage
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
BILLING_ENABLED=false
STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=
STRIPE_PACKAGE_PERSONAL_PRICE_ID=
STRIPE_PACKAGE_TEAM_PRICE_ID=
LSP_URL=http://127.0.0.1:8808
LSP_TOKEN=test