#code-editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    font-size: 15px;
    color: #ccc;
  }

  .code-state {
    display: grid;
    grid-template-columns: auto 10px 350px;
    grid-template-rows: auto;
    overflow: hidden;
  }

  .button-collapse {
    color: rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .06);
    display: flex;
    align-items: center;

    &:hover {
      color: rgba(0, 0, 0, .9);
      background: rgba(0, 0, 0, .1);
    }
  }

  &.collapsed {
    .button-collapse {
      color: rgba(0, 0, 0, .9);
      background: rgba(0, 0, 0, .1);
    }

    .code-state {
      grid-template-columns: auto 10px;
      grid-template-rows: auto;
    }
  }

  .code-area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;

    .tools {
      height: 50px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 1px;
      align-items: baseline;
      overflow: hidden;
      padding-left: 20px;
    }

    .button-scroll-left {
      width: 30px;
      color: #14aaf5;
    }

    .button-scroll-right {
      width: 30px;
      color: #14aaf5;
    }

    .button-scroll-left.disabled, .button-scroll-right.disabled {
      color: #ddd;
    }

    .files {
      display: flex;
      flex-grow: 1;
      height: 50px;
      align-items: flex-end;
      overflow-x: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
      }
      -ms-overflow-style: none;

      .file {
        width: 150px;
        font-size: 13px;
        font-weight: 400;
        color: #6f7782;
        display: flex;
        align-items: end;
        cursor: pointer;

        @extend .select-none;

        .name {
          padding: 4px 8px;
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .action {
          display: none;
          padding: 4px 8px;

          &:hover {
            color: rgb(217, 4, 41);
          }
        }

        &.open {
          color: #151b26;
          box-shadow: inset 0 -3px #14aaf5;
        }

        &:hover {
          .action {
            display: block;
          }

          color: #151b26;
          box-shadow: inset 0 -3px rgba(0, 0, 0, .2);
        }
      }
    }
  }

  .info-panel {
    border-left: 1px solid #eee;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr;
    overflow: hidden;

    .header-menu {
      position: relative;
      background: rgba(163,163,163, .2);
      background: linear-gradient(0deg, rgba(163,163,163, .1) 0%, rgba(203,203,203, .1) 47%, rgba(228,228,228, .1) 100%);

      .button {
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        .icon {
          width: 30px;
          color: rgba(0, 0, 0, .2);
        }

        .title {
          flex-grow: 1;

          h3 {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #343a40;
            margin: 0;
            padding: 0;
          }
        }
      }

      &:hover {
        background: rgba(163,163,163, .3);
        background: linear-gradient(0deg, rgba(163,163,163, .2) 0%, rgba(203,203,203, .2) 47%, rgba(228,228,228, .2) 100%);

        .button {
          .icon {
            color: rgba(0, 0, 0, .4);
          }
        }
      }

      .options {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        border: 1px solid rgba(0, 0, 0, .06);
        background: #faf9f9;
        z-index: 10000;

        a {
          display: block;
          padding: 10px;
          background: rgba(0, 0, 0, .06);
          border-bottom: 1px solid rgba(0, 0, 0, .06);

          &:hover {
            color: #1c1f23;
            background: rgba(0, 0, 0, .06);
          }
        }
      }
    }

    .body {
      padding: 8px;
      overflow: hidden;

      .section-header {
        background: rgba(0, 0, 0, .03);
        border-radius: 4px;
        display: flex;
        padding: 8px;
        margin: 10px 0;
        align-items: baseline;

        h3 {
          font-size: 15px;
          font-weight: 600;
        }

        button {
          margin-left: auto;
        }
      }

      th {
        font-size: 13px;
        font-weight: 500;
      }

      td {
        font-size: 13px;
        font-weight: 400;
      }
    }

    .overview {
      .menu {
        margin: 10px 0;
        display: flex;

        .time {
          margin-left: auto;
        }

        a {
          display: inline-block;
          margin-right: 4px;
        }

        .time, .environments {
          a:last-child {
            margin-right: 0px;
          }
        }
      }

      section {
        margin-bottom: 20px;

        h3 {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }

  .monaco-editor {
  }
}