#code-editor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 15px;

    div {
      width: 550px;

      h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }

      p {
        font-size: 16px;
        text-align: left;
        color: #90959D;
      }
    }
  }

  .code-state {
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-rows: auto;
    overflow: hidden;
  }

  .button-collapse {
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;

    &:hover {
      color: rgba(0, 0, 0, .9);
      background: rgba(0, 0, 0, .1);
    }
  }

  &.collapsed {
    .button-collapse {
      color: rgba(0, 0, 0, .9);
      background: rgba(0, 0, 0, .1);
    }

    .code-state {
      grid-template-columns: auto 10px;
      grid-template-rows: auto;
    }
  }

  .code-area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;

    .tools {
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      overflow: hidden;
      padding-left: 20px;
      border-bottom: 1px solid #EFF1F4;
    }

    .button-scroll-left {
      width: 30px;
      color: #aaa;
    }

    .button-scroll-right {
      width: 30px;
      color: #666;
    }

    .button-scroll-left.disabled, .button-scroll-right.disabled {
      color: #ddd;
    }

    .files {
      display: flex;
      flex-grow: 1;
      height: 50px;
      align-items: center;
      overflow-x: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
      }
      -ms-overflow-style: none;

      .file {
        width: 145px;
        margin-right: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #3C4149;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        background: #fff;
        border-radius: 5px;

        &:last-child {
          margin-right: 0px;
        }

        @extend .select-none;

        .name {
          padding: 6px 8px;
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .action {
          display: none;
          padding: 6px 8px;

          .icon {
            padding: 0px 2px;
          }

          &:hover {
            color: #151b26;

            .icon {
              padding: 0px 2px;
              border-radius: 2px;
              background: #eee;
            }
          }
        }

        &.open, &:hover {
          background: #F1F3F8;
        }

        &:hover {
          .action {
            display: block;
          }
        }
      }
    }
  }

  .info-panel {
    border-left: 1px solid #EFF1F4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    overflow: hidden;

    .header-menu {
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #EFF1F4;
      padding: 0 10px;

      .button {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 4px 4px;
        border-radius: 5px;

        &:hover {
          background: #F1F3F8;
        }

        .icon {
          color: #6B6F77;
        }

        .title {
          flex-grow: 1;

          h3 {
            font-size: 16px;
            font-weight: 400;
            color: #3C4149;
            margin: 0;
            padding: 0;

            svg {
              color: #6B6F77;
              margin-right: 5px;
            }
          }
        }
      }

      .options {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50px;
        border-radius: 12px;
        background: #fff;
        padding: 15px 20px;
        z-index: 10000;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);

        .option-item {
          cursor: pointer;
          color: #3C4149;
          margin-bottom: 8px;
          clear: both;

          &:last-child {
            margin-bottom: 0px;
          }

          svg:first-child {
            margin-right: 5px;
          }

          .check {
            margin-left: auto;
            color: #5269C9;
            float: right;
          }
        }
      }
    }

    > .body {
      padding: 0 8px 8px 8px;
      overflow: hidden;

      .section-link {
        border-bottom: 1px solid #EFF1F4;
        padding: 15px 8px;
        color: #3C4149;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        svg {
          margin-left: auto;
        }

        &.go-back {
          border-bottom: 0;
          height: 50px;
          padding: 0;
          margin: 0;

          svg {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }

      .section-header {
        display: flex;
        padding: 8px;
        margin: 5px 0;
        align-items: baseline;

        h3 {
          font-size: 14px;
          font-weight: 500;
          color: #3C4149;
        }

        .buttons {
          margin-left: auto;

          button {
            border: 1px solid #DFE1E4;
            background: #fff;
            color: #3C4149;
            font-weight: 500;
            margin-left: 5px;

            &:hover {
              background: #DFE1E4;
            }
          }
        }
      }

      th {
        font-size: 13px;
        font-weight: 500;
        vertical-align: baseline;
      }

      td {
        font-size: 13px;
        font-weight: 400;
        vertical-align: baseline;
      }

      h3 {
        color: #6B6F77;
        font-weight: 400;
      }

      section {
        padding: 20px 0;
        border-bottom: 1px solid #EFF1F4;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .deployment {
      .environment-row {
        padding: 5px 0;
        border-bottom: 1px solid #EFF1F4;

        &:last-child {
          border-bottom: none;
        }

        .informations {
          .information {
            margin-bottom: 10px;

            .name {
              font-weight: 500;
              font-size: 13px;
            }

            .detail {
              color: #6B6F77;
              font-size: 13px;
            }
          }
        }
      }
    }

    .overview, .logs {
      .menu {
        margin: 10px 0;
        display: flex;

        .time {
          margin-left: auto;
        }

        a {
          background: #fff;
          display: inline-block;
          padding: 4px 8px;
          font-size: 11px;
          font-weight: 500;
          color: #3C4149;

          &.active, &:hover {
            background: #F1F3F8;
          }
        }

        .time, .environments {
          border: 1px solid #EFF1F4;
          border-radius: 5px;

          a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }

      .stats {
        border-bottom: 1px solid #EFF1F4;
        padding: 20px;
        margin-bottom: 20px;
        position: relative;

        .spinner-border {
          position: absolute;
          right: 10px;
          top: 10px;
        }

        .number {
          font-size: 20px;
          font-weight: 400;
          color: #3C4149;
          text-align: center;
        }

        .title {
          font-size: 15px;
          font-weight: 400;
          color: #3C4149;
          text-align: center;
        }
      }
    }

    .logs {
      .log_streams {
        .stream {
          border-bottom: 1px solid #EFF1F4;
          padding: 10px;
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            background: #EFF1F4;
          }

          .time {
            font-weight: 500;
            margin-bottom: 4px;
          }

          .name {
            word-wrap: anywhere;
          }
        }
      }
    }

    .packages {
      .new-package {
        padding: 10px 0;
        border-bottom: 1px solid #EFF1F4;
      }

      .package {
        padding: 10px 0;
        border-bottom: 1px solid #EFF1F4;
        display: flex;
        align-items: center;
        cursor: pointer;

        .package-name {
          flex: 1;
        }

        .action-menu {
          display: none;

          a {
            padding: 0;
          }
        }

        &:hover {
          &:hover {
            .action-menu {
              display: block;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  .monaco-editor {
  }
}

[data-theme="dark"] {
  #code-editor {
    background: #202023;

    .empty-state {
      background: #202023;
      div {
        color: #90959D;
        p {
          color: #90959D;
        }
      }
    }

    .button-collapse {
      color: rgba(0, 0, 0, .8);

      &:hover {
        color: rgba(0, 0, 0, .9);
        background: rgba(0, 0, 0, .1);
      }
    }

    &.collapsed {
      .button-collapse {
        color: rgba(0, 0, 0, .9);
        background: rgba(0, 0, 0, .1);
      }
    }

    .code-area {
      .tools {
        border-bottom: 1px solid #303235;
      }

      .button-scroll-left, .button-scroll-right {
        color: #F7F8F8;
      }

      .button-scroll-left.disabled, .button-scroll-right.disabled {
        color: #303235;
      }

      .files {
        .file {
          color: #F7F8F8;
          background: #202023;

          .action {
            &:hover {
              color: #151b26;
              .icon {
                background: #35363E;
              }
            }
          }

          &.open, &:hover {
            background: #35363E;
          }
        }
      }
    }

    .info-panel {
      border-left: 1px solid #303235;

      .header-menu {
        border-bottom: 1px solid #303235;

        .button {
          &:hover {
            background: #35363E;
          }

          .icon {
            color: #6B6F77;
          }

          .title {
            h3 {
              color: #F7F8F8;

              svg {
                color: #F7F8F8;
              }
            }
          }
        }

        .options {
          background: #fff;
          box-shadow: 0 20px 40px rgba(0, 0, 0, .4);

          .option-item {
            color: #3C4149;

            .check {
              color: #5269C9;
            }
          }
        }
      }

      > .body {
        color: #F7F8F8;

        .section-link {
          border-bottom: 1px solid #303235;
          color: #F7F8F8;
        }

        .section-header {
          h3 {
            color: #F7F8F8;
          }

          .buttons {
            button {
              border: 1px solid #DFE1E4;
              background: #fff;
              color: #3C4149;

              &:hover {
                background: #DFE1E4;
              }
            }
          }
        }

        h3 {
          color: #F7F8F8;
        }

        section {
          border-bottom: 1px solid #303235;
        }
      }

      .deployment {
        .environment-row {
          border-bottom: 1px solid #303235;

          .informations {
            .information {
              .detail {
                color: #F7F8F8;
              }
            }
          }
        }
      }

      .overview, .logs {
        .menu {
          a {
            background: #303235;
            color: #F7F8F8;

            &.active, &:hover {
              color: #303235;
              background: #F1F3F8;
            }
          }

          .time, .environments {
            border: 1px solid #303235;
          }
        }

        .stats {
          border-bottom: 1px solid #303235;
          .number {
            color: #F7F8F8;
          }

          .title {
            color: #F7F8F8;
          }
        }
      }

      .logs {
        .log_streams {
          .stream {
            border-bottom: 1px solid #303235;
            &:hover {
              background: #303235;
            }
          }
        }
      }
    }
  }
}