.divider {
  height: 1px;
  background: #EFF1F4;
}

a {
  text-decoration: none;
  color: #5269C9;
}

.select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-primary {
  color: $primary;
}

.page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 64px 40px;

  .content {
    .header {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: center;

      .title {
        font-style: normal;
        color: rgb(40, 42, 48);
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
        letter-spacing: -0.01em;
        margin-bottom: 5px;
      }

      .subtitle {
        font-style: normal;
        line-height: normal;
        color: rgb(107, 111, 118);
        font-weight: 400;
        font-size: 13px;
      }

      .actions {
        margin-left: auto;
      }
    }

    display: flex;
    flex: initial;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
  }

  section.preference {
    h3 {
      font-size: 20px;
    }
  }
}

[data-theme="dark"] {
  .divider {
    background: #303235;
  }

  a {
    color: #5269C9;
  }

  .text-success {
    color: $success;
  }

  .text-danger {
    color: $danger;
  }

  .text-primary {
    color: $primary;
  }

  .page {
    .content {
      .header {
        border-bottom: 1px solid #303235;

        .title {
          color: #F7F8F8;
        }

        .subtitle {
          color: #F7F8F8;
        }
      }

      section.preference {
        h3 {
          color: #F7F8F8;
        }

        p {
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }
}