aside#editor-aside {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 50px;

  .footer {
    display: flex;
    border-top: 1px solid rgb(39, 50, 64);
    align-items: center;

    a {
      height: 50px;
      padding: 10px;
      color: #fff;
    }

    a:nth-child(1) {
      flex-grow: 1;
      border-right: 1px solid rgb(39, 50, 64);
      padding-left: 24px;
    }

    a:nth-child(2) {
      margin-left: auto;
      width: 50px;
      text-align: center;
    }
  }

  .modules {
    position: unset;
  }

  section {
    &.brand {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      border-bottom: 1px solid rgb(39, 50, 64);
      padding: 0 24px;

      .name {
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        color: #fff;
        font-family: Edition, serif;
      }
    }

    &.accordion {
      border-bottom: 1px solid rgb(39, 50, 64);

      .section-title {
        padding: 10px 24px;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        text-overflow: ellipsis;
        color: #e2e3e5;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: none;

        svg:first-child {
          margin-right: 5px;
        }

        svg:nth-child(2) {
          color: rgba(0, 109, 119);
          margin-right: 4px;
        }

        &:hover, &.active {
          background: rgba(255, 255, 255, 0.16);
          color: #fff;
        }
      }

      .content {
        .item {
          text-decoration: none;
          font-weight: 400;
          display: flex;
          align-items: center;
          padding: 0 24px;
          font-size: 13px;

          a {
            text-decoration: none;
            color: #cbd4db;
            padding: 8px 0;
            flex-grow: 1;
            display: flex;
            align-items: center;
          }

          .item-name {
            font-weight: 400;
            color: rgb(203, 212, 219);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 145px;
          }

          .action-menu {
            display: none;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.16);
            .action-menu {
              display: flex;
              justify-content: space-between;

              a {
                margin-right: 4px;

                &:hover {
                  color: #fff;
                }
              }

              a:last-child {
                margin-right: 0px;
              }
            }
          }
        }
      }

      .slide-enter-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-leave-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-enter, .slide-leave-to {
        opacity: 0;
      }
    }
  }
}