aside#editor-aside {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90px auto 130px;

  .footer {
    .buttons {
      position: relative;
    }

    .button-feedback {
      font-size: 12px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      color: rgba(0, 0, 0, .5)
    }

    .button-settings, .button-projects {
      cursor: pointer;
    }

    .button-projects {
      display: flex;
      align-items: center;
      padding: 8px 4px;

      .name {
        margin-left: 5px;
        font-weight: 500;
      }

      &:hover, &.active {
        background: #F1F3F8;
        border-radius: 5px;
      }

      svg.chevron {
        margin-left: auto;
        color: #90959D;
      }

      .menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #00000033;
        border-radius: 12px;

        a {
          display: flex;
          align-items: center;
          padding: 10px;
          color: #3C4149;
          text-align: left;

          &.new-link {
            border-top: 1px solid #EFF1F4;
            padding-top: 15px;
            padding-bottom: 15px;
          }

          svg {
            margin-right: 5px;
            color: #1c1f23;
          }

          &:last-child {
            border-bottom: 1px solid transparent;
          }

          .action-menu {
            display: none;

            a {
              padding: 0;
            }
          }

          &:hover {
            .action-menu {
              display: block;
              margin-left: auto;
            }
          }
        }
      }
    }

    .button-settings {
      padding: 4px;
      margin-bottom: 5px;
    }
  }

  .modules {
  }

  section {
    padding-left: 19px;
    padding-right: 19px;

    &.brand {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      margin-left: 5px;
    }

    &.accordion {
      margin-bottom: 5px;

      .section-title {
        padding: 5px 5px;
        font-size: 15px;
        font-weight: 500;
        text-overflow: ellipsis;
        color: #3C4149;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: none;

        .section-icon {
          margin-right: 10px;
        }

        &:hover, &:active {
          background: #F1F3F8;
          border-radius: 5px;
        }
      }

      .content {
        .item {
          text-decoration: none;
          font-weight: 400;
          display: flex;
          align-items: center;
          padding: 0 0 0 8px;
          margin-left: 25px;
          font-size: 13px;
          position: relative;

          a.link {
            text-decoration: none;
            color: #3C4149;
            font-weight: 400;
            font-size: 13px;
            padding: 8px 0;
            flex-grow: 1;
            display: flex;
            align-items: center;
          }

          &.new-link {
            margin-left: 25px;
            padding-left: 6px;

            svg {
              margin-right: 5px;
            }
          }

          .item-name {
            font-weight: normal;
            color: #3C4149;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
            display: inline-block;
          }

          .action-menu {
            display: none;
            position: absolute;
            right: 0;

            a {
              margin-right: 4px;
              display: flex;
              justify-content: space-between;
            }
          }

          &:hover, &.active {
            background: #F1F3F8;
            border-radius: 5px;
          }

          &:hover {
            .action-menu {
              display: flex;
              justify-content: space-between;

              a {
                &:hover {
                  color: #5269C9;
                }
              }
            }
          }
        }
      }

      .slide-enter-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-leave-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-enter, .slide-leave-to {
        opacity: 0;
      }
    }
  }
}

[data-theme="dark"] {
  aside#editor-aside {
    .footer {
      .button-feedback {
        color: rgba(255, 255, 255, .5);
      }

      .button-subscription {
        background-color: rgb(39, 40, 43);
        border: 1px solid rgb(48, 50, 54);
        box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px;
      }

      .button-projects {
        &:hover, &.active {
          background: #2D2E36;
        }

        svg.chevron {
          color: #90959D;
        }

        .menu {
          background: #2D2E36 0% 0% no-repeat padding-box;
          box-shadow: 0 20px 40px #00000033;

          a {
            color: #F7F8F8;

            &.new-link {
              border-top: 1px solid #303235;
            }

            svg {
              color: #F7F8F8;
            }
          }
        }
      }
    }

    section {
      &.accordion {
        .section-title {
          color: #F7F8F8;
          &:hover, &:active {
            background: #2D2E36;
          }
        }

        .content {
          .item {
            a.link {
              color: #F7F8F8;
            }

            .item-name {
              color: #F7F8F8;
            }

            &:hover {
              background: #2D2E36;

              .action-menu {
                a {
                  &:hover {
                    color: #5269C9;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}