aside#editor-aside {
  section {
    &.brand {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      border-bottom: 1px solid rgb(39, 50, 64);
      padding: 0 8px;

      .name {
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        color: #fff;
        font-family: Edition, serif;
      }

      .menu {
        display: flex;
        margin-left: auto;
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        padding: 5px;
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, .2);
        background: rgb(29, 53, 87);
      }

      &:hover {
        .menu {
          background: rgb(29, 53, 87, .8);
        }
      }
    }

    &.projects {
      cursor: pointer;
      border-bottom: 1px solid rgb(39, 50, 64);
      padding: 10px;
      display: flex;
      align-items: center;

      .current-project {
        .name {
          color: rgb(203, 212, 219);
          font-size: 16px;
          font-weight: 600;
        }

        .description {
          color: rgb(203, 212, 219, .7);
          font-size: 12px;
          font-weight: 400;
        }
      }

      .menu {
        margin-left: auto;
      }

      &:hover {
        background: rgb(29, 53, 87, .4);
      }
    }

    &.accordion {
      border-bottom: 1px solid rgb(39, 50, 64);

      .section-title {
        padding: 20px 8px;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-overflow: ellipsis;
        color: #cbd4db;
        overflow: hidden;
        white-space: nowrap;
        height: 28px;
        line-height: 28px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;

        svg:first-child {
          margin-right: 5px;
        }

        svg:nth-child(2) {
          color: rgba(0, 109, 119);
          margin-right: 4px;
        }

        &:hover {
          background: rgb(29, 53, 87, .4);
          color: #fff;
        }
      }

      .content {
        padding-top: 10px;
      }

      .slide-enter-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-leave-active {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      .slide-enter, .slide-leave-to {
        opacity: 0;
      }
    }
  }
}