.form-label {
  font-size: 13px;
  font-weight: 500;
  color: rgb(60, 65, 73);
  margin-bottom: 2px;
}

.form-check-label {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: rgb(60, 65, 73);
  margin-bottom: 2px;

  input {
    margin-right: 5px;
  }
}

.btn {
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  min-width: 80px;
}

.btn-primary {
  color: #fff;
  border: none;
  box-shadow: 0px 1px 2px #EDEDED;
  background: #5269C9;
}

.form-control, .form-select {
  padding: 6px 12px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(40, 42, 48);
}

.form-control {
  background: rgb(255, 255, 255);
  border: 1px solid #DFE1E4;
  color: #3C4149;

  &:focus {
    border: 1px solid #4569BB;
    box-shadow: none;
  }
}

.alert {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 400;
}