.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 600000;
  background: transparent;
  overflow-y: auto;
  display: flex;
  align-items: center;
  color: #000;

  .modal-wrapper {
    background: #fff;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .3);
    width: 500px;
    margin: 0 auto;
    border-radius: 12px;

    .header {
      display: flex;
      padding: 20px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      align-items: center;
      line-height: 30px;

      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #000 !important;
        @extend .select-none;
      }

      .close {
        margin-left: auto;
        color: #6B6F77;
        text-underline: none;
        line-height: 18px;

        &:hover {
          color: rgb(0, 0, 0);
        }
      }
    }

    .body {
      padding: 0 20px;
      overflow: auto;
      max-height: 500px;
    }

    .actions {
      padding: 20px;
      display: flex;
      flex-direction: row-reverse;

      .btn {
        margin-left: 5px;
      }
    }
  }

  &.confirm-modal {

    .modal-wrapper {
      width: 350px;

      .body {
        padding: 20px;
        p {
          font-size: 15px;
          font-weight: 400;
          text-align: center;
        }
      }

      .actions {
        justify-content: center;
      }
    }
  }
}