#settings {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;

  .back-button {
    border-bottom: 1px solid #EFF1F4;
    display: flex;
    align-items: center;

    a {
      color: #3C4149;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 500;

      svg {
        margin-right: 5px;
      }
    }
  }

  .projects {
    .project {
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .name {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
      }

      .links {
        margin-top: 5px;
        display: flex;

        a {
          font-size: 11px;
          margin-right: 5px;
          min-width: auto;

          &:hover {
            background: rgba(0, 0, 0, .16);
          }
        }
      }
    }
  }

  .environment {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .environment-header {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      .name {
        font-size: 18px;
        font-weight: 500;

        .region {
          font-size: 12px;
          color: rgba(0, 0, 0, .5);
          font-weight: 400;
        }
      }
    }

    .links {
      margin-top: 5px;
      display: flex;

      a {
        font-size: 11px;
        margin-right: 5px;
        min-width: auto;

        &:hover {
          background: rgba(0, 0, 0, .16);
        }
      }
    }

    .info {
      font-size: 12px;
      color: rgba(0, 0, 0, .5);
      margin-top: 10px;

      .item {
        margin-bottom: 10px;
        border-left: 1px dashed rgba(0, 0, 0, .1);
        padding-left: 5px;

        .name {
          font-weight: bold;
        }
      }
    }
  }

  #preferences {
    .theme-switcher {
      width: 150px;
      display: flex;
      border: 1px solid #ddd;
      border-radius: 18px;

      a {
        width: 50%;
        padding: 3px 6px;
        font-size: 12px;

        &.active {
          border-radius: 18px;
          background: #ddd;
          color: #000;
        }
      }
    }
  }

  .pricing {
    .price-columns, .detail-columns {
      margin:0 auto;
      display: flex;
      justify-content: space-between;

      .price-column, .detail-column {
        width: 200px;
        margin-right: 30px;

        &:last-child {
          margin-right: 0px;
        }
      }

      .price-column {
        h2 {
          font-size: 25px;
          margin-bottom: 5px;
        }

        .price {
          display: block;
          font-size: 18px;
          margin-bottom: 15px;
        }

        p {
          color: #8A8F98;
          font-size: 14px;
          height: 50px;
        }

        .btn {
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: #5269C9;
          color: #fff;
          padding: 10px 20px;
          text-align: center;
          border-radius: 4px;
          text-decoration: none;
        }
      }

      .detail-column {
        .item {
          border-bottom: 1px solid #ddd;
          padding-bottom: 15px;
          padding-top: 15px;
          font-size: 13px;
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
            width: 18px;
            height: 18px;

            &.active {
              color: #668AEA;
            }
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  #settings {
    background-color: #202023;
    .back-button {
      border-bottom: 1px solid #303235;
      a {
        color: #F7F8F8;
      }
    }

    .projects {
      .project {
        color: #F7F8F8;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;

        .links {
          a {
            border: 1px solid #303235;
            background: #303235;

            &:hover {
              background: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }

    .environment {
      color: #F7F8F8;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;

      .environment-header {
        .name {
        }
      }

      .links {
        a {
          border: 1px solid #303235;
          background: #303235;

          &:hover {
            background: rgba(255, 255, 255, 0.7);
          }
        }
      }

      .info {
        color: #F7F8F8;

        .item {
          border-left: 1px dashed rgba(255, 255, 255, .3);
        }
      }
    }

    .pricing {
      .price-column {
        color: #F7F8F8;
      }
      .detail-column {
        .item {
          color: #F7F8F8;
          border-bottom: 1px solid #303235;
        }
      }
    }
  }
}