#settings {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;

  .back-button {
    border-bottom: 1px solid #EFF1F4;
    display: flex;
    align-items: center;

    a {
      color: #3C4149;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 500;

      svg {
        margin-right: 5px;
      }
    }
  }
}