aside#settings-aside {
  section {
    padding-left: 19px;
    padding-right: 19px;

    &.brand {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      margin-left: 5px;
      margin-bottom: 20px;
    }

    &.links {
      .title {
        font-weight: 500;
        padding: 8px;
        color: rgba(0, 0, 0, .4);
        font-size: 11px;
      }

      a {
        color: #3C4149;
        padding: 8px 10px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-radius: 5px;

        svg {
          margin-right: 5px;
        }

        &:hover, &.active {
          background: #F1F3F8;
        }

        &.logout {
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}


[data-theme="dark"] {
  aside#settings-aside {
    section {

      &.links {
        .title {
          color: #F7F8F8;
        }

        a {
          color: #F7F8F8;

          &:hover, &.active {
            background: #2D2E36;
          }

          &.logout {
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}