aside#settings-aside {
  section {
    padding-left: 10px;
    padding-right: 10px;

    &.title {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      border-bottom: 1px solid rgb(39, 50, 64);
      margin-bottom: 10px;

      .name {
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        font-weight: 400;
        color: #fff;
        margin-left: 10px;
      }
    }

    &.links {
      .title {
        font-weight: 500;
        padding: 8px;
        color: rgba(0, 0, 0, .4);
        font-size: 11px;
      }

      a {
        color: #fff;
        padding: 8px 10px;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-radius: 4px;

        svg {
          color: rgba(0, 109, 119);
          margin-right: 4px;
        }

        &:hover, &.active {
          color: #fff;
          background: rgb(29, 53, 87, .4);
        }
      }
    }
  }
}