table {
  thead {
    th {
      font-weight: 500;
      font-size: 13px;
      color: #000;
      background: rgba(0, 0, 0, .05) !important;
      border-bottom: 1px solid #ddd !important;
    }
  }

  tbody {
    td {
      font-weight: 400;
      font-size: 13px;
      color: #000;
      padding: 8px 8px !important;
    }
  }
}

[data-theme="dark"] {
  table {
    thead {
      th {
        color: #F7F8F8;
        background: rgba(0, 0, 0, .16) !important;
        border-bottom: 1px solid #303235 !important;
      }
    }

    tbody {
      td {
        color: #F7F8F8;
        border-bottom-color: #303235;
      }
    }
  }
}